@model IEnumerable<ZeroHunger.DTOs.User.UserDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayName("Type / Role")
        </th>
        <th>
            @Html.DisplayName("Created Time")
        </th>
        <th>
            @Html.DisplayName("Updated Time")
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @{
                    var updatedAt = item.UpdatedAt == null ? "Not Yet" : item.UpdatedAt.ToString();
                }
                @Html.DisplayFor(modelItem => updatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { userId = item.UserId }) |
                @Html.ActionLink("Get User Detail", "Detail", new { userId = item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { userId = item.UserId })
            </td>
        </tr>
    }

</table>
