@model ZeroHunger.DTOs.SignupDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="bg-white p-3 h-auto">
                    <div class="d-flex align-items-center justify-content-center flex-column" style="width:272px;">
                        <span class="fs-3 fw-semibold pb-3">Signup</span>
                        <span class="text-danger">@Html.ViewBag.Msg</span>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group mt-2 mb-4">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter name" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group mt-2 mb-4">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mt-2 mb-4">
                            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter mobile" } })
                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mt-2 mb-4">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group mt-2 mb-4">
                            @Html.LabelFor(model => model.RoleId, "Select as a", htmlAttributes: new { @class = "form-label" })

                            @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.Roles, "Id", "Name"), "Select Role", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100">Sign up</button>
                        </div>

                    }
                    <span>@Html.ActionLink("Login to Account?", "Login")</span>
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
